/build.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/course-info.yaml
/course-remote-info.yaml
/.gradle/6.5/executionHistory/executionHistory.bin
/.gradle/6.5/executionHistory/executionHistory.lock
/.gradle/6.5/fileHashes/fileHashes.bin
/.gradle/6.5/fileHashes/fileHashes.lock
/.gradle/6.5/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.gradle/6.5/fileChanges/last-build.bin
/.gradle/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/settings.gradle
/.gradle/checksums/sha1-checksums.bin
/Problems/lesson-info.yaml
/Problems/Right Rotation/task-info.yaml
/Problems/Right Rotation/task-remote-info.yaml
/.idea/vcs.xml
/Problems/Next even number/task-info.yaml
/Problems/Next even number/task-remote-info.yaml
/.idea/modules/Problems/Next even number/ASCII_Text_Signature.Problems-Next_even_number.iml
/.idea/modules/Problems/Next even number/ASCII_Text_Signature.Problems-Next_even_number.main.iml
/.idea/modules/Problems/Next even number/ASCII_Text_Signature.Problems-Next_even_number.test.iml
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_72.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_72.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_72.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_3_72.xml
/Problems/Difference of times/task-info.yaml
/Problems/Difference of times/task-remote-info.yaml
/.idea/modules/Problems/Difference of times/ASCII_Text_Signature.Problems-Difference_of_times.iml
/.idea/modules/Problems/Difference of times/ASCII_Text_Signature.Problems-Difference_of_times.main.iml
/.idea/modules/Problems/Difference of times/ASCII_Text_Signature.Problems-Difference_of_times.test.iml
/Problems/The roots of equation/task-info.yaml
/Problems/The roots of equation/task-remote-info.yaml
/.idea/modules/Problems/The roots of equation/ASCII_Text_Signature.Problems-The_roots_of_equation.iml
/.idea/modules/Problems/The roots of equation/ASCII_Text_Signature.Problems-The_roots_of_equation.main.iml
/.idea/modules/Problems/The roots of equation/ASCII_Text_Signature.Problems-The_roots_of_equation.test.iml
/Problems/Fizz Buzz/task-info.yaml
/Problems/Fizz Buzz/task-remote-info.yaml
/.idea/modules/Problems/Fizz Buzz/ASCII_Text_Signature.Problems-Fizz_Buzz.iml
/.idea/modules/Problems/Fizz Buzz/ASCII_Text_Signature.Problems-Fizz_Buzz.main.iml
/.idea/modules/Problems/Fizz Buzz/ASCII_Text_Signature.Problems-Fizz_Buzz.test.iml
