/build.gradle
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/course-info.yaml
/course-remote-info.yaml
/.gradle/6.5/executionHistory/executionHistory.bin
/.gradle/6.5/executionHistory/executionHistory.lock
/.gradle/6.5/fileHashes/fileHashes.bin
/.gradle/6.5/fileHashes/fileHashes.lock
/.gradle/6.5/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.gradle/6.5/fileChanges/last-build.bin
/.gradle/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/settings.gradle
/.gradle/checksums/sha1-checksums.bin
/Problems/lesson-info.yaml
/Problems/Right Rotation/task-info.yaml
/Problems/Right Rotation/task-remote-info.yaml
/.idea/vcs.xml
/Problems/Next even number/task-info.yaml
/Problems/Next even number/task-remote-info.yaml
/.idea/modules/Problems/Next even number/ASCII_Text_Signature.Problems-Next_even_number.iml
/.idea/modules/Problems/Next even number/ASCII_Text_Signature.Problems-Next_even_number.main.iml
/.idea/modules/Problems/Next even number/ASCII_Text_Signature.Problems-Next_even_number.test.iml
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_72.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_72.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_72.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_3_72.xml
/Problems/Difference of times/task-info.yaml
/Problems/Difference of times/task-remote-info.yaml
/.idea/modules/Problems/Difference of times/ASCII_Text_Signature.Problems-Difference_of_times.iml
/.idea/modules/Problems/Difference of times/ASCII_Text_Signature.Problems-Difference_of_times.main.iml
/.idea/modules/Problems/Difference of times/ASCII_Text_Signature.Problems-Difference_of_times.test.iml
/Problems/The roots of equation/task-info.yaml
/Problems/The roots of equation/task-remote-info.yaml
/.idea/modules/Problems/The roots of equation/ASCII_Text_Signature.Problems-The_roots_of_equation.iml
/.idea/modules/Problems/The roots of equation/ASCII_Text_Signature.Problems-The_roots_of_equation.main.iml
/.idea/modules/Problems/The roots of equation/ASCII_Text_Signature.Problems-The_roots_of_equation.test.iml
/Problems/Fizz Buzz/task-info.yaml
/Problems/Fizz Buzz/task-remote-info.yaml
/.idea/modules/Problems/Fizz Buzz/ASCII_Text_Signature.Problems-Fizz_Buzz.iml
/.idea/modules/Problems/Fizz Buzz/ASCII_Text_Signature.Problems-Fizz_Buzz.main.iml
/.idea/modules/Problems/Fizz Buzz/ASCII_Text_Signature.Problems-Fizz_Buzz.test.iml
/Problems/The minimum value of N numbers/task-info.yaml
/Problems/The minimum value of N numbers/task-remote-info.yaml
/.idea/modules/Problems/The minimum value of N numbers/ASCII_Text_Signature.Problems-The_minimum_value_of_N_numbers.iml
/.idea/modules/Problems/The minimum value of N numbers/ASCII_Text_Signature.Problems-The_minimum_value_of_N_numbers.main.iml
/.idea/modules/Problems/The minimum value of N numbers/ASCII_Text_Signature.Problems-The_minimum_value_of_N_numbers.test.iml
/Problems/Is it here/task-info.yaml
/Problems/Is it here/task-remote-info.yaml
/.idea/modules/Problems/Is it here/ASCII_Text_Signature.Problems-Is_it_here.iml
/.idea/modules/Problems/Is it here/ASCII_Text_Signature.Problems-Is_it_here.main.iml
/.idea/modules/Problems/Is it here/ASCII_Text_Signature.Problems-Is_it_here.test.iml
/.idea/modules/Problems/Groundhogs at the party/ASCII_Text_Signature.Problems-Groundhogs_at_the_party.iml
/.idea/modules/Problems/Groundhogs at the party/ASCII_Text_Signature.Problems-Groundhogs_at_the_party.main.iml
/.idea/modules/Problems/Groundhogs at the party/ASCII_Text_Signature.Problems-Groundhogs_at_the_party.test.iml
/Problems/Groundhogs at the party/task-info.yaml
/Problems/Groundhogs at the party/task-remote-info.yaml
/Problems/Balance checker/task-info.yaml
/Problems/Balance checker/task-remote-info.yaml
/.idea/modules/Problems/Balance checker/ASCII_Text_Signature.Problems-Balance_checker.iml
/.idea/modules/Problems/Balance checker/ASCII_Text_Signature.Problems-Balance_checker.main.iml
/.idea/modules/Problems/Balance checker/ASCII_Text_Signature.Problems-Balance_checker.test.iml
/Problems/Balance checker/out/production/classes/MainKt.class
/Problems/Balance checker/out/production/classes/META-INF/Problems-Balance_checker.kotlin_module
/.idea/modules/Problems/A small version of the Battleship game/ASCII_Text_Signature.Problems-A_small_version_of_the_Battleship_game.iml
/.idea/modules/Problems/A small version of the Battleship game/ASCII_Text_Signature.Problems-A_small_version_of_the_Battleship_game.main.iml
/.idea/modules/Problems/A small version of the Battleship game/ASCII_Text_Signature.Problems-A_small_version_of_the_Battleship_game.test.iml
/Problems/A small version of the Battleship game/task-info.yaml
/.idea/modules/Problems/Check the sum/ASCII_Text_Signature.Problems-Check_the_sum.iml
/.idea/modules/Problems/Check the sum/ASCII_Text_Signature.Problems-Check_the_sum.main.iml
/.idea/modules/Problems/Check the sum/ASCII_Text_Signature.Problems-Check_the_sum.test.iml
/Problems/A small version of the Battleship game/out/production/classes/MainKt.class
/Problems/A small version of the Battleship game/out/production/classes/META-INF/Problems-A_small_version_of_the_Battleship_game.kotlin_module
/Problems/Check the sum/task-info.yaml
